body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
section{
    height: 500px;
    margin-bottom: 50px;
    margin-top: 10px;
}
h1{
    font-size: 30px;
    font-weight: bold;
}
.name-highlight{
    color: rgb(225, 134, 23);
}
.top-banner{
  background-image: url(./img/header-bg.png);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
}
.top-banner p{
    margin-bottom: 50px;
}

.half-width{
    width: 40%;
    float: left; 
    height: 100%;
    padding: 10px;
    margin-left: 6%;
    margin-top: 20px;

}
.half-width img{
    width: 80%;
    margin-left: 50px;
} 
.hire{
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: 10px;
    padding: 7px 18px;
    background-image: linear-gradient(45deg,orange,red);
}
.sec-section{
    background-image: url(./img/biography-bg.png);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
  
}
.sec-section h1{
    margin-top: 100px;
}
.work h1{
    text-align: center;
}
.work-pic{
    float: left;
    margin-top: 45px;
}
.work-pic img{
    width: 30%;
    margin-left: 2%;

}
.client{
    text-align: center;
    background-image: url(/img/footer-bg.png);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
}
.des{
    width: 400px;
    text-align: justify;
    margin-left: 435px;
    margin-top: 36px;
    margin-bottom: 30px;
}
.deg h1{
    margin-bottom: -13px;
    font-weight: bold;
    font-weight: 500;
    font-family: initial;
}
.c-heading{
    margin-bottom: 35px;
}
.color-word {
    width: 402px;
    text-align: center;
    margin-top: 80px;
    margin-left: 420px;
    background-color: #EC4C7B;
    border-radius: 10px;
    padding: 6px 11px;
}
footer p{
    text-align:center;
    font-size: 20px;
}